<app-edit-page [title]="isEditMode ? 'Edit Partner' : 'Create Partner'">
    <div form-fields>
        <form [formGroup]="partnerForm" (ngSubmit)="onSubmit()">
            <mat-slide-toggle formControlName="isActive" class="mb-3">Is Active</mat-slide-toggle>

            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type" required>
                    @for (type of partnerTypes; track type) {
                    <mat-option [value]="type">{{ type }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>


            @if (partnerForm.controls.hotelInfo) {
            <hr />
            <div formGroupName="hotelInfo">
                <div class="section-header">
                    <h4>Hotel Information</h4>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="outline">
                        <mat-label>Star Rating</mat-label>
                        <mat-select formControlName="starRating">
                            @for (rating of starRatings; track rating) {
                            <mat-option [value]="rating">{{ rating }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Region</mat-label>
                        <mat-select formControlName="region">
                            @for (region of regions; track region) {
                            <mat-option [value]="region">{{ region }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            }

            <hr>
            <div formGroupName="contactInfo">
                <div class="section-header">
                    <h4>Contact Information</h4>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email" required />
                </mat-form-field>
                <div class="form-row">
                    <mat-form-field appearance="outline">
                        <mat-label>Telephone</mat-label>
                        <input matInput formControlName="tel" />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Telephone 2</mat-label>
                        <input matInput formControlName="tel2" />
                    </mat-form-field>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address" />
                </mat-form-field>
                <div class="form-row">
                    <mat-form-field appearance="outline">
                        <mat-label>Zip</mat-label>
                        <input matInput formControlName="zip" />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Town</mat-label>
                        <input matInput formControlName="town" />
                    </mat-form-field>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Country</mat-label>
                    <mat-select formControlName="country">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="countryFilterCtrl"
                                placeholderLabel="Search..."></ngx-mat-select-search>
                        </mat-option>
                        @for (country of filteredCountries | async; track country) {
                        <mat-option [value]="country">{{ country }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <hr>
            <div formGroupName="taxinfo">
                <div class="section-header">
                    <h4>Tax Information</h4>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>BRN</mat-label>
                    <input matInput formControlName="brn" />
                </mat-form-field>
                <mat-slide-toggle formControlName="isVatRegistered">Is VAT Registered</mat-slide-toggle>
                @if (partnerForm.get('taxinfo.isVatRegistered')?.value) {
                <mat-form-field appearance="outline" class="mt-3">
                    <mat-label>VAT Number</mat-label>
                    <input matInput formControlName="vatNumber" />
                </mat-form-field>
                }
            </div>
            <hr>

            <mat-form-field appearance="outline">
                <mat-label>Currency</mat-label>
                <mat-select formControlName="currencyName" required>
                    @for (currency of currencies; track currency) {
                    <mat-option [value]="currency">{{ currency }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            @if ((subDmcs$ | async)?.length) {
            <mat-form-field appearance="outline">
                <mat-label>Sub-DMC</mat-label>
                <mat-select formControlName="subDmc">
                    @for (subDmc of subDmcs$ | async; track subDmc) {
                    <mat-option [value]="subDmc">{{ subDmc }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            }

            <mat-form-field appearance="outline">
                <mat-label>Remarks</mat-label>
                <textarea matInput formControlName="remarks"></textarea>
            </mat-form-field>

        </form>
    </div>
    <div form-actions>
        <button mat-stroked-button color="warn" type="button" routerLink="/partners" class="me-2">
            <mat-icon>cancel</mat-icon>
            <span>Cancel</span>
        </button>
        <button mat-flat-button color="primary" type="submit" [disabled]="!partnerForm.valid" (click)="onSubmit()">
            <mat-icon>save</mat-icon>
            <span>Save</span>
        </button>
    </div>
</app-edit-page>