.form-row {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.form-row > * {
  flex: 1;
}

.section-header h4 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #3f51b5;
}
