<div class="container-fluid list-page-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>{{ title }}</h1>
            </mat-card-title>
            <div class="header-actions">
                <button mat-flat-button color="primary" [routerLink]="newRoute">
                    <mat-icon>add</mat-icon>
                    <span>{{ newButtonText }}</span>
                </button>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="table-responsive">
                <ng-content></ng-content>
            </div>
        </mat-card-content>
    </mat-card>
</div>