<div class="sidenav-container">
    <mat-nav-list>
        <a mat-list-item routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon matListItemIcon>dashboard</mat-icon>
            <span matListItemTitle>Dashboard</span>
        </a>

        @if (navItems$ | async; as navItems) {
        @for (item of navItems; track item.id) {
        <a mat-list-item [routerLink]="'/' + item.key" routerLinkActive="active-link"
            *appHasAccess="[item.key, 'readonly']">
            <mat-icon matListItemIcon>{{ item.icon || 'extension' }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
        </a>
        }
        }

    </mat-nav-list>
</div>