.app-container {
  height: calc(100vh - 64px); /* Full height minus header */
}

mat-sidenav {
  width: 240px;
}

.main-content {
  position: relative;
  min-height: calc(100% - 57px); /* Main content area minus footer */
  padding: 1rem;
  background-color: #f4f7fa;
}