.spacer {
  flex: 1 1 auto;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-menu-header {
  padding: 16px;
  outline: none;

  h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
  }

  p {
    margin: 0;
    color: rgba(0, 0, 0, 0.54);
  }
}
