<h2 mat-dialog-title>Filters</h2>

<mat-dialog-content [formGroup]="filterForm" class="filter-dialog-content">
    @for (filter of data.filtersConfig; track filter.columnDef) {
    <app-searchable-select [label]="filter.placeholder" [formControlName]="getControlKey(filter.columnDef)"
        [options]="filter.options" [multiple]="filter.multiple" [searchable]="filter.searchable"
        [optionValue]="filter.optionValue" [optionText]="filter.optionText"
        class="filter-dialog-field"></app-searchable-select>
    }
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onClear()">Clear Filters</button>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onApply()">Apply Filters</button>
</mat-dialog-actions>