/* Global styles for the entire application */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa; /* A light grey background for the content area */
}
